## Setup

In [2]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.7-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Collecting aiohttp (from openai)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 22.9 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Collecting multidict<7.0,>=4.5 (from aiohttp->openai)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 10.9 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp->openai)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp->openai)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 20.3 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1 (from aiohttp->openai)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 9.5 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp->openai)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.7 yarl-1.9.2

In [3]:
pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.29.2-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 31.2 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Collecting huggingface-hub<1.0,>=0.14.1 (from transformers)
  Downloading huggingface_hub-0.15.1-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 21.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 55.6 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.15.1 tokenizers-0.13.3 transformers-4.29.2

In [4]:
import openai
import pandas as pd
import numpy as np
import json
import os
from google.colab import drive
from transformers import GPT2TokenizerFast

#openai.api_key = os.getenv("api.txt")
COMPLETIONS_MODEL = "text-davinci-002" #maybe there's a better model available now?

In [5]:
openai.api_key = "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"

In [6]:
drive.mount('/content/drive')

current_directory = os.getcwd()

chris_directory = "/content/drive/Othercomputers/My_MacBook_Pro/Documents/Research/CADAS"
os.chdir(chris_directory)

current_directory = os.getcwd()

print(current_directory)

Mounted at /content/drive
/content/drive/Othercomputers/My_MacBook_Pro/Documents/Research/CADAS

Sociodemographic

In [ ]:
Socio = (
    pd.read_excel("CADAS_DD_V3.xlsx", engine='openpyxl', sheet_name="Sociodemographic")  # replace with your file path
    .loc[lambda df: df['Field_Type'] == 'Option', ['Field_Type', 'Name', 'Special_Info']]
    .reset_index(drop=True)
)

Socio['Special_Info'] = Socio['Special_Info'].str.lower()
Socio['Name'] = Socio['Name'].str.lower()
Socio['Special_Info'] = Socio['Special_Info'].str.replace(' required', '', case=False)

columns_to_process = ['Field_Type', 'Name', 'Special_Info']

for col in columns_to_process:
    Socio[col] = Socio[col].astype(str).str.strip()

Socio['Name_Cap'] = Socio['Name'].str.upper()

split_special_info = Socio['Special_Info'].str.split(',', expand=True)

split_special_info.columns = range(1, len(split_special_info.columns) + 1)

Socio = pd.concat([Socio, split_special_info], axis=1)

Socio = Socio.replace({None: np.nan})

for i in range(1, 15):
    Socio[f'new_column{i}'] = Socio.apply(lambda row: str(f'{Socio.columns[i+3]} "{row[i]}" '), axis=1).astype(str)

for i in range(1, 15):
    # Replace any value containing "no responde" with '88 "no responde"' and "no sabe" with '99 "no sabe"' in each new_column
    Socio[f'new_column{i}'] = (
        Socio[f'new_column{i}']
        .apply(lambda x: '88 "no responde"' if 'no responde' in str(x).lower() else x)
        .apply(lambda x: '99 "no sabe"' if 'no sabe' in str(x).lower() else x)
    )

Socio['new_combined_column'] = 'label define ' + Socio['Name'].astype(str) + ' '

for i in range(1, 15):
    # Concatenate the values from each column into the new_combined_column if they do not contain the string "nan"
     Socio['new_combined_column'] += Socio.apply(lambda row: row[f"new_column{i}"] if 'nan' not in str(row[f"new_column{i}"]).lower() else '', axis=1)

Socio['encode_column'] = Socio.apply(lambda row: f'encode {row["Name"]}, gen({row["Name_Cap"]}) label ({row["Name"]})', axis=1)
Socio['drop_column'] = Socio.apply(lambda row: f'drop {row["Name"]}', axis=1)  

Socio['combined_master_columns'] = Socio.apply(lambda row: f'{row["new_combined_column"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)


Socio_file = 'Recode_Files/Socio_code.txt'
with open(Socio_file, 'w') as f:
    for code_line in Socio['combined_master_columns']:
        f.write(f"{code_line}\n\n")

Socio.head()

,Field_Type,Name,Special_Info,Name_Cap,1,2,3,4,5,6,...,new_column9,new_column10,new_column11,new_column12,new_column13,new_column14,new_combined_column,encode_column,drop_column,combined_master_columns
0,Option,s_1_1_p,"negro(a) ,mulato(a) mezclado(a) o trigueño (bl...",S_1_1_P,negro(a),mulato(a) mezclado(a) o trigueño (blanco o negro),blanco(a),mestizo(a) (indio con blanco),otra,no responde,...,"9 ""nan""","10 ""nan""","11 ""nan""","12 ""nan""","13 ""nan""","14 ""nan""","label define s_1_1_p 1 ""negro(a) "" 2 ""mulato(a...","encode s_1_1_p, gen(S_1_1_P) label (s_1_1_p)",drop s_1_1_p,"label define s_1_1_p 1 ""negro(a) "" 2 ""mulato(a..."
1,Option,s_1_1_d,"negro(a) ,mulato(a),blanco(a) ,indio(a),otra,n...",S_1_1_D,negro(a),mulato(a),blanco(a),indio(a),otra,no responde,...,"9 ""nan""","10 ""nan""","11 ""nan""","12 ""nan""","13 ""nan""","14 ""nan""","label define s_1_1_d 1 ""negro(a) "" 2 ""mulato(a...","encode s_1_1_d, gen(S_1_1_D) label (s_1_1_d)",drop s_1_1_d,"label define s_1_1_d 1 ""negro(a) "" 2 ""mulato(a..."
2,Option,s_1_1_c,"negro(a),blanco(a),mulato(a) / mestizo(a),otra...",S_1_1_C,negro(a),blanco(a),mulato(a) / mestizo(a),otra,no responde,no sabe,...,"9 ""nan""","10 ""nan""","11 ""nan""","12 ""nan""","13 ""nan""","14 ""nan""","label define s_1_1_c 1 ""negro(a)"" 2 ""blanco(a)...","encode s_1_1_c, gen(S_1_1_C) label (s_1_1_c)",drop s_1_1_c,"label define s_1_1_c 1 ""negro(a)"" 2 ""blanco(a)..."
3,Option,s_2_9,"nunca se ha casado ,casado/union consensual ,v...",S_2_9,nunca se ha casado,casado/union consensual,viudo,divorciado/separado,NaN,NaN,...,"9 ""nan""","10 ""nan""","11 ""nan""","12 ""nan""","13 ""nan""","14 ""nan""","label define s_2_9 1 ""nunca se ha casado "" 2 ""...","encode s_2_9, gen(S_2_9) label (s_2_9)",drop s_2_9,"label define s_2_9 1 ""nunca se ha casado "" 2 ""..."
4,Option,s_2_11,"agnóstico/ateo ,católico romano ,evangélico / ...",S_2_11,agnóstico/ateo,católico romano,evangélico / pentecostal,otro cristiano,santería,judío,...,"88 ""no responde""","99 ""no sabe""","11 ""nan""","12 ""nan""","13 ""nan""","14 ""nan""","label define s_2_11 1 ""agnóstico/ateo "" 2 ""cat...","encode s_2_11, gen(S_2_11) label (s_2_11)",drop s_2_11,"label define s_2_11 1 ""agnóstico/ateo "" 2 ""cat..."

Physical Exam

In [ ]:
Phys = (
    pd.read_excel("CADAS_DD_V3.xlsx", engine='openpyxl', sheet_name="Physical_Exam")  # replace with your file path
    .loc[lambda df: df['Field_Type'] == 'Option', ['Field_Type', 'Name', 'Special_Info']]
    .reset_index(drop=True)
)

Phys['Special_Info'] = Phys['Special_Info'].str.lower()
Phys['Name'] = Phys['Name'].str.lower()
Phys['Special_Info'] = Phys['Special_Info'].str.replace(' required', '', case=False)

columns_to_process = ['Field_Type', 'Name', 'Special_Info']

for col in columns_to_process:
    Phys[col] = Phys[col].astype(str).str.strip()

Phys['Name_Cap'] = Phys['Name'].str.upper()

split_special_info = Phys['Special_Info'].str.split(',', expand=True)

split_special_info.columns = range(1, len(split_special_info.columns) + 1)

Phys = pd.concat([Phys, split_special_info], axis=1)

Phys = Phys.replace({None: np.nan})

for i in range(1, 9):
    Phys[f'new_column{i}'] = Phys.apply(lambda row: str(f'{Phys.columns[i+3]} "{row[i]}" '), axis=1).astype(str)

for i in range(1, 9):
    # Replace any value containing "no responde" with '88 "no responde"' and "no sabe" with '99 "no sabe"' in each new_column
    Phys[f'new_column{i}'] = (
        Phys[f'new_column{i}']
        .apply(lambda x: '88 "no responde"' if 'no responde' in str(x).lower() else x)
        .apply(lambda x: '99 "no sabe"' if 'no sabe' in str(x).lower() else x)
    )

Phys['new_combined_column'] = 'label define ' + Phys['Name'].astype(str) + ' '

for i in range(1, 9):
    # Concatenate the values from each column into the new_combined_column if they do not contain the string "nan"
    Phys['new_combined_column'] += Phys.apply(lambda row: row[f"new_column{i}"] if 'nan' not in str(row[f"new_column{i}"]).lower() else '', axis=1)

Phys['encode_column'] = Phys.apply(lambda row: f'encode {row["Name"]}, gen({row["Name_Cap"]}) label ({row["Name"]})', axis=1)
Phys['drop_column'] = Phys.apply(lambda row: f'drop {row["Name"]}', axis=1)

Phys['combined_master_columns'] = Phys.apply(lambda row: f'{row["new_combined_column"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)

Phys_file = 'Recode_Files/Phys_code.txt'
with open(Phys_file, 'w') as f:
    for code_line in Phys['combined_master_columns']:
        f.write(f"{code_line}\n\n")

Phys.head()

,Field_Type,Name,Special_Info,Name_Cap,1,2,3,4,5,6,...,new_column3,new_column4,new_column5,new_column6,new_column7,new_column8,new_combined_column,encode_column,drop_column,combined_master_columns
0,Option,p2_1,"no,si",P2_1,no,si,NaN,NaN,NaN,NaN,...,"3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define p2_1 1 ""no"" 2 ""si""","encode p2_1, gen(P2_1) label (p2_1)",drop p2_1,"label define p2_1 1 ""no"" 2 ""si"" \n\nencode p2_..."
1,Option,p6,"mirada hacia arriba normal,mirada hacia arriba...",P6,mirada hacia arriba normal,mirada hacia arriba limitada,no puede o casi no puede mirar hacia arriba,no hizo la prueba,NaN,NaN,...,"3 ""no puede o casi no puede mirar hacia arriba""","4 ""no hizo la prueba""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define p6 1 ""mirada hacia arriba normal""...","encode p6, gen(P6) label (p6)",drop p6,"label define p6 1 ""mirada hacia arriba normal""..."
2,Option,p7_1,"1-4 golpes,5 golpes,6-9 golpes,10+ golpes,no i...",P7_1,1-4 golpes,5 golpes,6-9 golpes,10+ golpes,no intentó la prueba,NaN,...,"3 ""6-9 golpes""","4 ""10+ golpes""","5 ""no intentó la prueba""","6 ""nan""","7 ""nan""","8 ""nan""","label define p7_1 1 ""1-4 golpes"" 2 ""5 golpes"" ...","encode p7_1, gen(P7_1) label (p7_1)",drop p7_1,"label define p7_1 1 ""1-4 golpes"" 2 ""5 golpes"" ..."
3,Option,p7_2,"no hace trompa (protruye los labios),trompa pr...",P7_2,no hace trompa (protruye los labios),trompa presente,no pudo hacerlo,NaN,NaN,NaN,...,"3 ""no pudo hacerlo""","4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define p7_2 1 ""no hace trompa (protruye ...","encode p7_2, gen(P7_2) label (p7_2)",drop p7_2,"label define p7_2 1 ""no hace trompa (protruye ..."
4,Option,p7_3,"no hay contracción facial,reflejo de contracci...",P7_3,no hay contracción facial,reflejo de contracción facial presente,no pudo hacerlo,NaN,NaN,NaN,...,"3 ""no pudo hacerlo""","4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define p7_3 1 ""no hay contracción facial...","encode p7_3, gen(P7_3) label (p7_3)",drop p7_3,"label define p7_3 1 ""no hay contracción facial..."

Cognitive

In [ ]:
Cog = (
    pd.read_excel("CADAS_DD_V3.xlsx", engine='openpyxl', sheet_name="Cognitive")  # replace with your file path
    .loc[lambda df: df['Field_Type'] == 'Option', ['Field_Type', 'Name', 'Special_Info']]
    .reset_index(drop=True)
)

Cog['Special_Info'] = Cog['Special_Info'].str.lower()
Cog['Name'] = Cog['Name'].str.lower()
Cog['Special_Info'] = Cog['Special_Info'].str.replace(' required', '', case=False)

columns_to_process = ['Field_Type', 'Name', 'Special_Info']

for col in columns_to_process:
    Cog[col] = Cog[col].astype(str).str.strip()

Cog['Name_Cap'] = Cog['Name'].str.upper()

split_special_info = Cog['Special_Info'].str.split(',', expand=True)

split_special_info.columns = range(1, len(split_special_info.columns) + 1)

Cog = pd.concat([Cog, split_special_info], axis=1)

Cog = Cog.replace({None: np.nan})

for i in range(1, 7):
    Cog[f'new_column{i}'] = Cog.apply(lambda row: str(f'{Cog.columns[i+3]} "{row[i]}" '), axis=1).astype(str)

for i in range(1, 7):
    # Replace any value containing "no responde" with '88 "no responde"' and "no sabe" with '99 "no sabe"' in each new_column
    Cog[f'new_column{i}'] = (
        Cog[f'new_column{i}']
        .apply(lambda x: '88 "no responde"' if 'no responde' in str(x).lower() else x)
        .apply(lambda x: '99 "no sabe"' if 'no sabe' in str(x).lower() else x)
    )

Cog['new_combined_column'] = 'label define ' + Cog['Name'].astype(str) + ' '

for i in range(1, 7):
    # Concatenate the values from each column into the new_combined_column if they do not contain the string "nan"
    Cog['new_combined_column'] += Cog.apply(lambda row: row[f"new_column{i}"] if 'nan' not in str(row[f"new_column{i}"]).lower() else '', axis=1)

Cog['encode_column'] = Cog.apply(lambda row: f'encode {row["Name"]}, gen({row["Name_Cap"]}) label ({row["Name"]})', axis=1)
Cog['drop_column'] = Cog.apply(lambda row: f'drop {row["Name"]}', axis=1)

Cog['combined_master_columns'] = Cog.apply(lambda row: f'{row["new_combined_column"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)

Cog_file = 'Recode_Files/Cog_code.txt'
with open(Cog_file, 'w') as f:
    for code_line in Cog['combined_master_columns']:
        f.write(f"{code_line}\n\n")

Cog.head()

,Field_Type,Name,Special_Info,Name_Cap,1,2,3,4,5,6,new_column1,new_column2,new_column3,new_column4,new_column5,new_column6,new_combined_column,encode_column,drop_column,combined_master_columns
0,Option,c_0,"correcto,incorrecto",C_0,correcto,incorrecto,NaN,NaN,NaN,NaN,"1 ""correcto""","2 ""incorrecto""","3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","label define c_0 1 ""correcto"" 2 ""incorrecto""","encode c_0, gen(C_0) label (c_0)",drop c_0,"label define c_0 1 ""correcto"" 2 ""incorrecto"" \..."
1,Option,c_1,"correcto,incorrecto",C_1,correcto,incorrecto,NaN,NaN,NaN,NaN,"1 ""correcto""","2 ""incorrecto""","3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","label define c_1 1 ""correcto"" 2 ""incorrecto""","encode c_1, gen(C_1) label (c_1)",drop c_1,"label define c_1 1 ""correcto"" 2 ""incorrecto"" \..."
2,Option,c_2_p_c,"correcto,incorrecto",C_2_P_C,correcto,incorrecto,NaN,NaN,NaN,NaN,"1 ""correcto""","2 ""incorrecto""","3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","label define c_2_p_c 1 ""correcto"" 2 ""incorrecto""","encode c_2_p_c, gen(C_2_P_C) label (c_2_p_c)",drop c_2_p_c,"label define c_2_p_c 1 ""correcto"" 2 ""incorrect..."
3,Option,c_2_d,"correcto,incorrecto",C_2_D,correcto,incorrecto,NaN,NaN,NaN,NaN,"1 ""correcto""","2 ""incorrecto""","3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","label define c_2_d 1 ""correcto"" 2 ""incorrecto""","encode c_2_d, gen(C_2_D) label (c_2_d)",drop c_2_d,"label define c_2_d 1 ""correcto"" 2 ""incorrecto""..."
4,Option,c_3,"correcto,incorrecto",C_3,correcto,incorrecto,NaN,NaN,NaN,NaN,"1 ""correcto""","2 ""incorrecto""","3 ""nan""","4 ""nan""","5 ""nan""","6 ""nan""","label define c_3 1 ""correcto"" 2 ""incorrecto""","encode c_3, gen(C_3) label (c_3)",drop c_3,"label define c_3 1 ""correcto"" 2 ""incorrecto"" \..."

Household

In [ ]:
Household = (
    pd.read_excel("CADAS_DD_V3.xlsx", engine='openpyxl', sheet_name="Household")  # replace with your file path
    .loc[lambda df: df['Field_Type'] == 'Option', ['Field_Type', 'Name', 'Special_Info']]
    .reset_index(drop=True)
)

Household['Special_Info'] = Household['Special_Info'].str.lower()
Household['Name'] = Household['Name'].str.lower()
Household['Special_Info'] = Household['Special_Info'].str.replace(' required', '', case=False)

columns_to_process = ['Field_Type', 'Name', 'Special_Info']

for col in columns_to_process:
    Household[col] = Household[col].astype(str).str.strip()

Household['Name_Cap'] = Household['Name'].str.upper()

split_special_info = Household['Special_Info'].str.split(',', expand=True)

split_special_info.columns = range(1, len(split_special_info.columns) + 1)

Household = pd.concat([Household, split_special_info], axis=1)

Household = Household.replace({None: np.nan})

for i in range(1, 9):
    Household[f'new_column{i}'] = Household.apply(lambda row: str(f'{Household.columns[i+3]} "{row[i]}" '), axis=1).astype(str)

for i in range(1, 9):
    # Replace any value containing "no responde" with '88 "no responde"' and "no sabe" with '99 "no sabe"' in each new_column
    Household[f'new_column{i}'] = (
        Household[f'new_column{i}']
        .apply(lambda x: '88 "no responde"' if 'no responde' in str(x).lower() else x)
        .apply(lambda x: '99 "no sabe"' if 'no sabe' in str(x).lower() else x)
    )

Household['new_combined_column'] = 'label define ' + Household['Name'].astype(str) + ' '

for i in range(1, 9):
    # Concatenate the values from each column into the new_combined_column if they do not contain the string "nan"
    Household['new_combined_column'] += Household.apply(lambda row: row[f"new_column{i}"] if 'nan' not in str(row[f"new_column{i}"]).lower() else '', axis=1)

Household['encode_column'] = Household.apply(lambda row: f'encode {row["Name"]}, gen({row["Name_Cap"]}) label ({row["Name"]})', axis=1)
Household['drop_column'] = Household.apply(lambda row: f'drop {row["Name"]}', axis=1)

Household['combined_master_columns'] = Household.apply(lambda row: f'{row["new_combined_column"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)

Household_file = 'Recode_Files/Household_code.txt'
with open(Household_file, 'w') as f:
    for code_line in Household['combined_master_columns']:
        f.write(f"{code_line}\n\n")

Household.head()

,Field_Type,Name,Special_Info,Name_Cap,1,2,3,4,5,6,...,new_column3,new_column4,new_column5,new_column6,new_column7,new_column8,new_combined_column,encode_column,drop_column,combined_master_columns
0,Option,h_3_1,"propietario ,alquilada ,otro",H_3_1,propietario,alquilada,otro,NaN,NaN,NaN,...,"3 ""otro""","4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define h_3_1 1 ""propietario "" 2 ""alquila...","encode h_3_1, gen(H_3_1) label (h_3_1)",drop h_3_1,"label define h_3_1 1 ""propietario "" 2 ""alquila..."
1,Option,h_3_3c_c,"si,no,no responde,no sabe",H_3_3C_C,si,no,no responde,no sabe,NaN,NaN,...,"88 ""no responde""","99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define h_3_3c_c 1 ""si"" 2 ""no"" 88 ""no res...","encode h_3_3c_c, gen(H_3_3C_C) label (h_3_3c_c)",drop h_3_3c_c,"label define h_3_3c_c 1 ""si"" 2 ""no"" 88 ""no res..."
2,Option,h_3_3a_p,"si,no,no responde,no sabe",H_3_3A_P,si,no,no responde,no sabe,NaN,NaN,...,"88 ""no responde""","99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define h_3_3a_p 1 ""si"" 2 ""no"" 88 ""no res...","encode h_3_3a_p, gen(H_3_3A_P) label (h_3_3a_p)",drop h_3_3a_p,"label define h_3_3a_p 1 ""si"" 2 ""no"" 88 ""no res..."
3,Option,h_3_3a_d,"si,no,no responde,no sabe",H_3_3A_D,si,no,no responde,no sabe,NaN,NaN,...,"88 ""no responde""","99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define h_3_3a_d 1 ""si"" 2 ""no"" 88 ""no res...","encode h_3_3a_d, gen(H_3_3A_D) label (h_3_3a_d)",drop h_3_3a_d,"label define h_3_3a_d 1 ""si"" 2 ""no"" 88 ""no res..."
4,Option,h_3_3a_c,"si,no,no responde,no sabe",H_3_3A_C,si,no,no responde,no sabe,NaN,NaN,...,"88 ""no responde""","99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","label define h_3_3a_c 1 ""si"" 2 ""no"" 88 ""no res...","encode h_3_3a_c, gen(H_3_3A_C) label (h_3_3a_c)",drop h_3_3a_c,"label define h_3_3a_c 1 ""si"" 2 ""no"" 88 ""no res..."

Informant

In [ ]:
Infor = (
    pd.read_excel("CADAS_DD_V3.xlsx", engine='openpyxl', sheet_name="Informant")  # replace with your file path
    .loc[lambda df: df['Field_Type'] == 'Option', ['Field_Type', 'Name', 'Special_Info']]
    .reset_index(drop=True)
)

Infor['Special_Info'] = Infor['Special_Info'].str.lower()
Infor['Name'] = Infor['Name'].str.lower()
Infor['Special_Info'] = Infor['Special_Info'].str.replace(' required', '', case=False)

columns_to_process = ['Field_Type', 'Name', 'Special_Info']

for col in columns_to_process:
    Infor[col] = Infor[col].astype(str).str.strip()

Infor['Name_Cap'] = Infor['Name'].str.upper()

split_special_info = Infor['Special_Info'].str.split(',', expand=True)

split_special_info.columns = range(1, len(split_special_info.columns) + 1)

Infor = pd.concat([Infor, split_special_info], axis=1)

Infor = Infor.replace({None: np.nan})

for i in range(1, 10):
    Infor[f'new_column{i}'] = Infor.apply(lambda row: str(f'{Infor.columns[i+3]} "{row[i]}" '), axis=1).astype(str)

for i in range(1, 10):
    # Replace any value containing "no responde" with '88 "no responde"' and "no sabe" with '99 "no sabe"' in each new_column
    Infor[f'new_column{i}'] = (
        Infor[f'new_column{i}']
        .apply(lambda x: '88 "no responde"' if 'no responde' in str(x).lower() else x)
        .apply(lambda x: '99 "no sabe"' if 'no sabe' in str(x).lower() else x)
    )

Infor['new_combined_column'] = 'label define ' + Infor['Name'].astype(str) + ' '

for i in range(1, 10):
    # Concatenate the values from each column into the new_combined_column if they do not contain the string "nan"
    Infor['new_combined_column'] += Infor.apply(lambda row: row[f"new_column{i}"] if 'nan' not in str(row[f"new_column{i}"]).lower() else '', axis=1)

Infor['encode_column'] = Infor.apply(lambda row: f'encode {row["Name"]}, gen({row["Name_Cap"]}) label ({row["Name"]})', axis=1)
Infor['drop_column'] = Infor.apply(lambda row: f'drop {row["Name"]}', axis=1)

Infor['combined_master_columns'] = Infor.apply(lambda row: f'{row["new_combined_column"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)

Infor_file = 'Recode_Files/Infor_code.txt'
with open(Infor_file, 'w') as f:
    for code_line in Infor['combined_master_columns']:
        f.write(f"{code_line}\n\n")

Infor.head()

,Field_Type,Name,Special_Info,Name_Cap,1,2,3,4,5,6,...,new_column4,new_column5,new_column6,new_column7,new_column8,new_column9,new_combined_column,encode_column,drop_column,combined_master_columns
0,Option,i_a2,"si,no,no responde,no sabe",I_A2,si,no,no responde,no sabe,NaN,NaN,...,"99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","9 ""nan""","label define i_a2 1 ""si"" 2 ""no"" 88 ""no respond...","encode i_a2, gen(I_A2) label (i_a2)",drop i_a2,"label define i_a2 1 ""si"" 2 ""no"" 88 ""no respond..."
1,Option,i_a3,"si,no,no responde,no sabe",I_A3,si,no,no responde,no sabe,NaN,NaN,...,"99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","9 ""nan""","label define i_a3 1 ""si"" 2 ""no"" 88 ""no respond...","encode i_a3, gen(I_A3) label (i_a3)",drop i_a3,"label define i_a3 1 ""si"" 2 ""no"" 88 ""no respond..."
2,Option,i_a4,"si,no,no responde,no sabe",I_A4,si,no,no responde,no sabe,NaN,NaN,...,"99 ""no sabe""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","9 ""nan""","label define i_a4 1 ""si"" 2 ""no"" 88 ""no respond...","encode i_a4, gen(I_A4) label (i_a4)",drop i_a4,"label define i_a4 1 ""si"" 2 ""no"" 88 ""no respond..."
3,Option,i_b1,"miembro del hogar de xxxx?,hijo no-residente d...",I_B1,miembro del hogar de xxxx?,hijo no-residente de xxxx?,otro?,NaN,NaN,NaN,...,"4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","9 ""nan""","label define i_b1 1 ""miembro del hogar de xxxx...","encode i_b1, gen(I_B1) label (i_b1)",drop i_b1,"label define i_b1 1 ""miembro del hogar de xxxx..."
4,Option,i_b4,"femenino,masculino,otro",I_B4,femenino,masculino,otro,NaN,NaN,NaN,...,"4 ""nan""","5 ""nan""","6 ""nan""","7 ""nan""","8 ""nan""","9 ""nan""","label define i_b4 1 ""femenino"" 2 ""masculino"" 3...","encode i_b4, gen(I_B4) label (i_b4)",drop i_b4,"label define i_b4 1 ""femenino"" 2 ""masculino"" 3..."

In [ ]:
print(Socio.iloc[0, Socio.columns.get_loc('Special_Info')])

negro(a) ,mulato(a) mezclado(a) o trigueño (blanco o negro),blanco(a) ,mestizo(a) (indio con blanco),otra,no responde,no sabe

In [ ]:
len(Socio)

216

In [ ]:
print(Socio["new_combined_column"][0])

label define s_1_1_p 1 "negro(a) " 2 "mulato(a) mezclado(a) o trigueño (blanco o negro)" 3 "blanco(a) " 4 "mestizo(a) (indio con blanco)" 5 "otra" 88 "no responde"99 "no sabe"

In [ ]:
def request_completion(prompt):
    
    completion_response =   openai.Completion.create(
                            prompt=prompt,
                            temperature=0,
                            max_tokens=300,
                            top_p=1,
                            frequency_penalty=0,
                            presence_penalty=0,
                            model=COMPLETIONS_MODEL
                            )
        
    return completion_response

def classify_transaction(column,prompt):
    
    prompt = prompt.replace('DESCRIPTION',column['new_combined_column']) #change this to your column, ex. 10\nEmployer Name
    
    classification = request_completion(prompt)['choices'][0]['text'].replace('\n','')
    
    return classification

# This function takes your training and validation outputs from the prepare_data function of the Finetuning API, and
# confirms that each have the same number of classes.
# If they do not have the same number of classes the fine-tune will fail and return an error

def check_finetune_classes(train_file,valid_file):

    train_classes = set()
    valid_classes = set()
    with open(train_file, 'r') as json_file:
        json_list = list(json_file)
        print(len(json_list))

    for json_str in json_list:
        result = json.loads(json_str)
        train_classes.add(result['completion'])
        #print(f"result: {result['completion']}")
        #print(isinstance(result, dict))

    with open(valid_file, 'r') as json_file:
        json_list = list(json_file)
        print(len(json_list))

    for json_str in json_list:
        result = json.loads(json_str)
        valid_classes.add(result['completion'])
        #print(f"result: {result['completion']}")
        #print(isinstance(result, dict))
        
    if len(train_classes) == len(valid_classes):
        print('All good')
        
    else:
        print('Classes do not match, please prepare data again')

## Zero-shot Classification

We'll first assess the performance of the base models at classifying these transactions using a simple prompt. We'll provide the model with 5 categories and a catch-all of "Could not classify" for ones that it cannot place.

In [ ]:
zero_shot_prompt = '''In this Stata code, change the label number of "no sabe" to 99 and "no responde" to 88: 

DESCRIPTION

Don't generate new code, just alter the code I provided above. The code is:
'''

Below we are testing the function on row 10 of the dataset.

In [ ]:
# Get a test transaction
description = Socio.iloc[0]

# Interpolate the values into the prompt
prompt = (
    zero_shot_prompt.replace('DESCRIPTION', description['new_combined_column'])
)

# Use our completion function to return a prediction
completion_response = request_completion(prompt)
print(completion_response['choices'][0]['text'])

label define s_1_1_p 1 "negro(a) " 2 "mulato(a) mezclado(a) o trigueño (blanco o negro)" 3 "blanco(a) " 4 "mestizo(a) (indio con blanco)" 5 "otra" 6 "no responde" 7 "no sabe"

label values s_1_1_p s_1_1_p

1 "negro(a) "
2 "mulato(a) mezclado(a) o trigueño (blanco o negro)"
3 "blanco(a) "
4 "mestizo(a) (indio con blanco)"
5 "otra"
6 "no responde"
7 "no sabe"
8 "no responde"
9 "no sabe"

In [ ]:
completion_response

<OpenAIObject text_completion id=cmpl-7AOIlqd6CRNePrNqho4hZR1h6FXLB at 0x7f4b2c7a8e50> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": ""
    }
  ],
  "created": 1682711051,
  "id": "cmpl-7AOIlqd6CRNePrNqho4hZR1h6FXLB",
  "model": "text-davinci-003",
  "object": "text_completion",
  "usage": {
    "prompt_tokens": 216,
    "total_tokens": 216
  }
}

In [ ]:
print(prompt)

In this text, change the numer to the left of the word "no sabe" to 99 and the one to the left of "no responde" to 88:

label define s_1_1_p 1 "negro(a) " 2 "mulato(a) mezclado(a) o trigueño (blanco o negro)" 3 "blanco(a) " 4 "mestizo(a) (indio con blanco)" 5 "otra" 6 "no responde" 7 "no sabe"

Here's an example of how it should look:
label define s_1_1_p 1 "negro(a) " 2 "mulato(a) mezclado(a) o trigueño (blanco o negro)" 3 "blanco(a) " 4 "mestizo(a) (indio con blanco)" 5 "otra" 88 "no responde" 99 "no sabe"

In [ ]:
print(completion_response['choices'][0]['text'])

gen s_1_1_p_new = cond(s_1_1_p == "negro(a)", 0, cond(s_1_1_p == "mulato(a) mezclado(a) o trigueño (blanco o negro)", 1, cond(s_1_1_p == "blanco(a)", 2, cond(s_1_1_p == "mestizo(a) (indio con blanco)", 3, cond(s_1_1_p == "otra", 4, cond(s_1_1_p == "no responde", 88, cond(s_1_1_p == "no sabe", 99, .))))))

In [ ]:
print(Socio.loc[0])

Field_Type                                                 Option
Name                                                      s_1_1_p
Special_Info    negro(a) ,mulato(a) mezclado(a) o trigueño (bl...
Name: 0, dtype: object

In [ ]:
new_df = Socio.iloc[:216]
new_df['Classification'] = new_df.apply(lambda x: classify_transaction(x,zero_shot_prompt),axis=1)

<ipython-input-143-17c185dc5a29>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Classification'] = new_df.apply(lambda x: classify_transaction(x,zero_shot_prompt),axis=1)

In [ ]:
new_df

,Field_Type,Name,Special_Info,Classification
0,Option,s_1_1_p,"negro(a) ,mulato(a) mezclado(a) o trigueño (bl...","gen s_1_1_p_new = cond(s_1_1_p == ""negro(a)"", ..."
1,Option,s_1_1_d,"negro(a) ,mulato(a),blanco(a) ,indio(a),otra,n...","gen s_1_1_d_new = cond(s_1_1_d == ""negro(a)"", ..."
2,Option,s_1_1_c,"negro(a),blanco(a),mulato(a) / mestizo(a),otra...","gen s_1_1_c_new = cond(s_1_1_c == ""negro(a)"", ..."
3,Option,s_2_9,"nunca se ha casado ,casado/union consensual ,v...","gen s_2_9_new = cond(s_2_9 == ""nunca se ha cas..."
4,Option,s_2_11,"agnóstico/ateo ,católico romano ,evangélico / ...","gen s_2_11_new = cond(s_2_11 == ""no sabe"", 99,..."
...,...,...,...,...
211,Option,s_14_32,"1,2,3,4 o más,no responde,no sabe","gen s_14_32_new = cond(s_14_32 == ""no sabe"", 9..."
212,Option,s_14_33,"no,si,no responde,no sabe","gen s_14_33_new = cond(s_14_33 == ""no sabe"", 9..."
213,Option,s_15_1,"el participante solamente ,participante y prox...","gen s_15_1_new = cond(s_15_1 == ""el participan..."
214,Option,s_15_2,"esposo (a) ,hijo/hija ,nuero/nuera ,hermano (a...","gen s_15_2_new = cond(s_15_2 == ""esposo (a)"", ..."
215,Option,s_15_3,razonable (el entrevistado respondió de manera...,"gen s_15_3_new = cond(s_15_3 == ""razonable (el..."

Then we save this to a csv

In [ ]:
# Assuming that the Socio DataFrame already has 'new_combined_column', 'encode_column', and 'drop_column' columns
new_df['combined_master_columns'] = Socio.apply(lambda row: f'{row["Classification"]}\n\n{row["encode_column"]}\n\n{row["drop_column"]}', axis=1)

Socio.head()

In [ ]:
new_df.to_csv('recoded_options.csv', index=False)

NameError: ignored

In [ ]:
do_file = 'stata_code.do'
with open(do_file, 'w') as f:
    for code_line in new_df['Classification']:
        f.write(f"{code_line}\n")

In [ ]:
text_file = 'stata_code2.txt'
with open(text_file, 'w') as f:
    for code_line in new_df['Classification']:
        f.write(f"{code_line}\n\n")

In [ ]:
Socio = pd.read_csv('recoded_options.csv')
Socio.head()

,Field_Type,Name,Special_Info,Classification
0,Option,s_1_1_p,"negro(a) ,mulato(a) mezclado(a) o trigueño (bl...","gen s_1_1_p_new = cond(s_1_1_p == ""no sabe"", 9..."
1,Option,s_1_1_d,"negro(a) ,mulato(a),blanco(a) ,indio(a),otra,n...","gen s_1_1_d_new = cond(s_1_1_d == ""no sabe"", 9..."
2,Option,s_1_1_c,"negro(a),blanco(a),mulato(a) / mestizo(a),otra...","gen s_1_1_c_new = cond(s_1_1_c == ""no sabe"", 9..."
3,Option,s_2_9,"nunca se ha casado ,casado/union consensual ,v...","gen s_2_9_new = cond(s_2_9 == ""no sabe"", 99, c..."
4,Option,s_2_11,"agnóstico/ateo ,católico romano ,evangélico / ...","gen s_2_11_new = cond(s_2_11 == ""no sabe"", 99,..."

In [ ]:
def request_completion(prompt):
    
    completion_response =   openai.Completion.create(
                            prompt=prompt,
                            temperature=0,
                            max_tokens=300,
                            top_p=1,
                            frequency_penalty=0,
                            presence_penalty=0,
                            model=COMPLETIONS_MODEL
                            )
        
    return completion_response

def classify_transaction(column,prompt):
    
    prompt = prompt.replace('DESCRIPTION',column['Classification'])
    
    classification = request_completion(prompt)['choices'][0]['text'].replace('\n','')
    
    return classification

# This function takes your training and validation outputs from the prepare_data function of the Finetuning API, and
# confirms that each have the same number of classes.
# If they do not have the same number of classes the fine-tune will fail and return an error

def check_finetune_classes(train_file,valid_file):

    train_classes = set()
    valid_classes = set()
    with open(train_file, 'r') as json_file:
        json_list = list(json_file)
        print(len(json_list))

    for json_str in json_list:
        result = json.loads(json_str)
        train_classes.add(result['completion'])
        #print(f"result: {result['completion']}")
        #print(isinstance(result, dict))

    with open(valid_file, 'r') as json_file:
        json_list = list(json_file)
        print(len(json_list))

    for json_str in json_list:
        result = json.loads(json_str)
        valid_classes.add(result['completion'])
        #print(f"result: {result['completion']}")
        #print(isinstance(result, dict))
        
    if len(train_classes) == len(valid_classes):
        print('All good')
        
    else:
        print('Classes do not match, please prepare data again')

In [ ]:
zero_shot_prompt = '''You are a data analyst adding value labels to variales in Stata. 
Make sure that this code is correct: (DESCRIPTION)
If it's correct, just print out the same code again.
                      
The correct code is:'''

In [ ]:
# Get a test transaction
description = Socio.iloc[0]

# Interpolate the values into the prompt
prompt = (
    zero_shot_prompt.replace('DESCRIPTION', description['Classification'])
)

# Use our completion function to return a prediction
completion_response = request_completion(prompt)
print(completion_response['choices'][0]['text'])

gen s_1_1_p_new = cond(s_1_1_p == "no sabe", 99, cond(s_1_1_p == "no responde", 88, cond(s_1_1_p == "negro(a)", 0,cond(s_1_1_p == "mulato(a) mezclado(a) o trigueño (blanco o negro)", 1,cond(s_1_1_p == "blanco(a)", 2,cond(s_1_1_p == "mestizo(a) (indio con blanco)", 3,cond(s_1_1_p == "otra", 4, .))))))))

In [ ]:
new_df = Socio.iloc[:216]
new_df['recode'] = new_df.apply(lambda x: classify_transaction(x,zero_shot_prompt),axis=1)

<ipython-input-62-b59fb98d8310>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['recode'] = new_df.apply(lambda x: classify_transaction(x,zero_shot_prompt),axis=1)

In [ ]:
recode_file = 'stata_code.txt'
with open(text_file, 'w') as f:
    for code_line in new_df['recode']:
        f.write(f"{code_line}\n\n")